#root {
  width: 100vw;  /* Volle Breite */
  height: 100vh; /* Volle Höhe */
  margin: 0;
  padding: 0;
  text-align: center;
}

.background {
  background-image: url('/src/assets/hintergrund.jpg'); /* Falls das Bild im public-Ordner liegt */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh; /* Volle Höhe */
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  text-decoration: underline;
}

.home {
  display: block;
}


